table.dataTable td.focus {
    outline: 1px solid #013ADF;
    outline-offset: -3px;
    background-color: #81BEF7 !important;
}

TD {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    color: #333333;       
}

.fecha_letra{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color : black;
    font-size : 10px;
    font-weight : bold;
}